.header {
  min-height: 70px;
  background: black;
  display: flex;
  align-items: center;

  @media (min-width: 600px) {
    color: $yellow
  }

  .logo {
    background: url('../img/30days-es6-react.png') center center no-repeat;
    background-size: contain;
    height: 70px;
    width: 70px;
    // margin: 0 auto
    position: relative;
    // transform: translate(0, 10%)
    border: 7px solid #262626;
  }
}